body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: left;
  font-size: 48px;
  color: #5A709E;
  /*border: 1px solid black;*/
  margin: 12px 0;
  font-weight: 600;
}

body:before {
  content: "";
	background-image: url("home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}


.my-container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: -20px;
  padding: 0px 24px;

  flex: 1;

}

input {
  border-radius: 4px;
  border: none;
  background-color: #F3F0F0;
  height: 20px;
  width: 100%;
  margin-bottom: 12px;
}

input[type="text"] {
  padding: 8px;
  font-weight: bold;
  color: black;
  height: 32px;
}

input[type="email"] {
  padding: 8px;
  font-weight: bold;
  color: black;
  height: 32px;
}

form p {
  color: #5A709E;
  padding: none;
  border: none;
  text-align: left;
}

.settings-button {
  margin-right: auto;
  border: 1px solid white;
  background-color: #5A709E;
  border-radius: 16px;
  padding: 8px 16px;
  text-align: center;
  font-size: 18px;
  height: 40px;
  width: 150px;
  color: white;
  margin-top: 12px;
}

.settings-button:hover {
  cursor: pointer;
  background-color: #667DAF;
}
