<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <link href='../styles/home.css' rel='stylesheet' type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Team 3STRIPES</h1>
    </header>
    <div class="profile"><pre>Welcome, <a href="profile.html">Charles</a>           <a href="index.html">Sign out</a>  Balance: 9001 pts</pre>
    </div>
    <div id="background">
      <div class="buttondiv">
        <p class="nunito"><a href="timer.html"><span class="navyblue button">Start Studying</span></a></p>
        <p class="nunito"><a href="shop.html"><span class="gray button">Go to Shop</span></a></p>
      </div>
      <p>"You have to be odd to be No. 1"<cite>- Dr. Seuss</cite></p>
    </div>
  </body>
</html>
