<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <link href='../styles/home.css' rel='stylesheet' type="text/css">
    <link href='../styles/nav.css' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html">Team 3STRIPES</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Welcome, </p>
            <li><a href="profile.html">Charles</a></li>
            <p class="navbar-text">Balance: 9001 pts </p>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="timer.html">Timer</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="index.html">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="profile"><pre>Welcome, <a href="profile.html">Charles</a>           <a href="index.html">Sign out</a>  Balance: 9001 pts</pre>
    </div>
    <div class="buttonDiv">
      <p><a href="timer.html"><span class="navyblue button">Start Studying</span></a></p>
      <p><a href="shop.html"><span class="gray button">Go to Shop</span></a></p>
    </div>
    <div class="quoteDiv">
      <p><q id="quotation"></q><cite id="source"></cite></p>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

<script>
var $quote;
var $source;
var bank;
const ONE_SECOND = 1000;
const ROTATE_INTERVAL = 8000;

$(document).ready(function() {
  $quote = $("#quotation");
  $source = $("#source");
  bank = [
    {
      words: "Failure is the opportunity to begin more intelligently.",
      author: "Henry&nbsp;Ford"
    },
    {
      words: "Our greatest weakness lies in giving up. The most certain way to succeed is always to try just one more time.",
      author: "Thomas&nbsp;Edison"
    },
    {
      words: "Start where you are. Use what you have. Do what you can.",
      author: "Arthur&nbsp;Ashe"
    },
    {
      words: "I find that the harder I work, the more luck I seem to have.",
      author: "Thomas&nbsp;Jefferson"
    },
    {
      words: "The secret of success is to do the common things uncommonly well.",
      author: "John&nbsp;D.&nbsp;Rockefeller"
    },
    {
      words: "Success is making the people who believed in you look brilliant.",
      author: "Dharmesh&nbsp;Shah"
    },
    {
      words: "Talent is cheaper than table salt. What separates the talented individual from the successful one is a lot of hard work.",
      author: "Stephen&nbsp;King"
    },
    {
      words: "I don’t love studying. I hate studying. I like learning. Learning is beautiful.",
      author: "Natalie&nbsp;Portman"
    },
    {
      words: "Learning is the only thing the mind never exhausts, never fears, and never regrets.",
      author: "Leonardo&nbsp;da&nbsp;Vinci"
    },
    {
      words: "The dictionary is the only place that success comes before work. Work is the key to success, and hard work can help you accomplish anything.",
      author: "Vince&nbsp;Lombardi"
    },
    {
      words: "Live as if you were to die tomorrow. Learn as if you were to live forever.",
      author: "Mahatma&nbsp;Gandhi"
    },
    {
      words: "If people knew how hard I worked to achieve my mastery, it wouldn’t seem so wonderful after all.",
      author: "Michelangelo"
    }
  ];
  var bankIndices = [];
  while(bankIndices.length < bank.length){
    var tempRandom = Math.floor(Math.random() * bank.length);
    if(bankIndices.indexOf(tempRandom) > -1) continue;
    bankIndices[bankIndices.length] = tempRandom;
  }
  rotateQuotes(bankIndices);
});

function rotateQuotes(indices) {

  var curIndex = 1;

  function setQuote() {
    $quote.fadeOut(ONE_SECOND);
    $source.fadeOut(ONE_SECOND);
    setTimeout(function() {
      $quote.html(bank[indices[curIndex]].words);
      $source.html("- " + bank[indices[curIndex]].author);
      curIndex + 1 == indices.length ? curIndex = 0 : curIndex++;
    }, ONE_SECOND);
    $quote.fadeIn(ONE_SECOND);
    $source.fadeIn(ONE_SECOND);
  }

  $quote.html(bank[indices[0]].words);
  $source.html(" -&nbsp;" + bank[indices[0]].author);
  setInterval(setQuote, ROTATE_INTERVAL);
}
</script>
