<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='nav.css' rel='stylesheet' type="text/css">
    <link href='modal.css' rel='stylesheet' type="text/css">
    <link href='settings.css' rel='stylesheet' type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="points.js"></script>
    <script src="modal.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home">Team 3STRIPES</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">Balance: <span id="points"></span> pts </p>
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span id="name"></span><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="profile">Profile</a></li>
              <li><a href="settings">Settings</a></li>
              <li><a href="index">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <div class="my-container">
      <h2>Profile Settings</h2>
      <form onsubmit="showConfirmation()">
        <p>Change name <input type="text" id="fullname" name="fullname" /></p>
        <p>Change email: <input type="email" id="email" name="email" /></p>
        <p>Change theme:
          <select name="themes" id="themes">
          </select>
        </p>
        <input class="settings-button" type="submit" value="Save Changes" />
      </form>
    </div

    <!-- settings saved -->
    <div id="saved" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2 id="saved-header"> </h2>
        </div>
        <p class="modal-body" id="saved-body">
        </p>
        <div class="modal-footer">
          <button onclick="closeModal()">Cancel</button>
          <button class="accented-button" onclick="updateSettings()">OK</button>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
$(document).ready(function() {
  if(!localStorage.getItem('user')) forceLogin();

  getCurrentSettings();
});

$('form').submit(function(e) {
  e.preventDefault();
});

function showConfirmation() {
  render_modal('saved', 'saved-header', 'saved-body', 'Confirm', 'Do you confirm these settings?');
}
</script>
