<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <meta charset="utf-8">
    <link href='../styles/nav.css' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link rel="stylesheet" href="../styles/shop.css" type="text/css">
  </head>
  <body>
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="home.html">Team 3STRIPES</a>
        </div>
        <ul class="nav navbar-nav navbar-right">  
          <p class="navbar-text">Balance: 9001 pts </p>   
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Charles <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="profile.html">Profile</a></li>
              <li><a href="profile.html">Settings</a></li>
              <li><a href="index.html">Sign Out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <section id="shop">
      <h2>Shop</h2>
      <div id="items">
        <div class="item">
          <div class="item-pic" id="baby-blue"></div>
          <div class="item-text">
            <p class="item-name no-margin">Baby Blue</p>
            <p class="item-desc no-margin">Blue color theme. What a rad hue! Purchase this item for a cool blue theme.</p>
          </div>
          <p class="item-buy">100 pts</p>
        </div>
        <div class="item">
          <div class="item-pic" id="guava-pink"></div>
          <div class="item-text">
            <p class="item-name no-margin">Guava Pink</p>
            <p class="item-desc no-margin">Pink color theme. What a sweet hue! Purchase this item for a gentle pink theme.</p>
          </div>
          <p class="item-buy">150 pts</p>
        </div>
        <div class="item">
          <div class="item-pic" id="mango-chile"></div>
          <div class="item-text">
            <p class="item-name no-margin">Mango Chile</p>
            <p class="item-desc no-margin">Mango Chile theme. What a spicy hue! Purchase this item for a fuego orange theme.</p>
          </div>
          <p class="item-buy">200 pts</p>
        </div>
      </div>
    </section>
  </body>
</html>
<script>

</script>
