<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
      <h1>Team 3STRIPES</h1>
    </header>
    <p><a href="home.html"> <<< Back to home </a></p>
    <h2>Shop</h2>
    <p>Here you can spend your points!</p>
    <div id="items">
      <pre>Item 1           <b>50 pts</b> | <a id="1" href="#" onclick="showPurchase(this)">Purchase</a></pre>
      <pre>Item 2          <b>100 pts</b> | <a id="2" href="#" onclick="showPurchase(this)">Purchase</a></pre>
      <pre>Item 3          <b>350 pts</b> | <a id="3" href="#" onclick="showPurchase(this)">Purchase</a></pre>
      <pre>Item 4          <b>275 pts</b> | <a id="4" href="#" onclick="showPurchase(this)">Purchase</a></pre>
    </div>
    <div style="display: none" id="purchased">
      <p id="purchased-p"></p>
      <pre><a href="#" onclick="showItems()">Cancel</a>    <a href="#" onclick="confirm()">Confirm</a></pre>
    </div>
    <div style="display: none" id="confirm">
      <p>Done! You will receive an email confirmation shortly</p>
      <p><a href="shop.html">Okay</a></p>
    </div>
  </body>
</html>
<script>
  function showPurchase(e) {
    document.getElementById("items").style.display = "none";
    document.getElementById("purchased").style.display = "block";
    document.getElementById("purchased-p").innerHTML = "Are you sure you want to purchase item " + e.id + "?";
  }

  function showItems() {
    document.getElementById("items").style.display = "block";
    document.getElementById("purchased").style.display = "none";
  }

  function confirm() {
    document.getElementById("confirm").style.display = "block";
    document.getElementById("purchased").style.display = "none";
  }
</script>
