<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <meta charset="utf-8">
    <link href="../styles/timer.css" rel="stylesheet" type="text/css">
    <link href='../styles/nav.css' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html">Team 3STRIPES</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Welcome, </p>
            <li><a href="profile.html">Charles</a></li>
            <p class="navbar-text">Balance: 9001 pts </p>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="timer.html">Timer</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="index.html">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="my-page-header">
      <h2 class="big-header">Timer</h2>
      <p class="sub-header">Set how long you want to study!</p>
    </div>
    <div class="timer-section">
      <div class="timer">
        <div class="arrows">
          <div class="h_arrows">
            <span id="h_up_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="h_up_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="m_arrows">
            <span id="m_up_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="m_up_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="s_arrows">
            <span id="s_up_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="s_up_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
        </div>
        <p class="timer-text"><span id="hrs1">0</span><span id="hrs2">0</span>h<span id="mins1">0</span><span id="mins2">0</span>m<span id="secs1">0</span><span id="secs2">0</span>s</p>
        <div class="arrows">
          <div class="h_arrows">
            <span id="h_dn_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="h_dn_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="m_arrows">
            <span id="m_dn_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="m_dn_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="s_arrows">
            <span id="s_dn_1">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
            <span id="s_dn_2">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#B6BEF7" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <p id="start"><a href="#" onclick="runTimer()"><span class="button navyblue">Begin Study Session</span></a></p>
    </div>
  </body>
</html>
<script>

var timer;

$(document).ready(function() {
  initTimer();
});

function initTimer() {

  $('svg').mouseover(function() {
    $('g', this).attr('stroke', '#FFFFFF').attr('stroke-width', '14');
    $('body').css('cursor', 'pointer');
  });

  $('svg').mouseout(function() {
    $('g', this).attr('stroke', '#B6BEF7').attr('stroke-width', '10');
    $('body').css('cursor', 'default');
  });

  $('svg').click(function() {
    switch($(this).closest("span").prop("id")) {
      case "h_up_1":
        var curH = Number($("#hrs1").text());
        curH = (curH + 1) % 2;
        $("#hrs1").text(curH);
        break;
      case "h_up_2":
        var curH = Number($("#hrs2").text());
        curH = (curH + 1) % 10;
        $("#hrs2").text(curH);
        break;
      case "m_up_1":
        var curM = Number($("#mins1").text());
        curM = (curM + 1) % 6;
        $("#mins1").text(curM);
        break;
      case "m_up_2":
        var curM = Number($("#mins2").text());
        curM = (curM + 1) % 10;
        $("#mins2").text(curM);
        break;
      case "s_up_1":
        var curS = Number($("#secs1").text());
        curS = (curS + 1) % 6;
        $("#secs1").text(curS);
        break;
      case "s_up_2":
        var curS = Number($("#secs2").text());
        curS = (curS + 1) % 10;
        $("#secs2").text(curS);
        break;
      case "h_dn_1":
        var curH = Number($("#hrs1").text());
        curH - 1 < 0 ? curH = 1 : curH -= 1;
        $("#hrs1").text(curH);
        break;
      case "h_dn_2":
        var curH = Number($("#hrs2").text());
        curH - 1 < 0 ? curH = 9 : curH -= 1;
        $("#hrs2").text(curH);
        break;
      case "m_dn_1":
        var curM = Number($("#mins1").text());
        curM - 1 < 0 ? curM = 5 : curM -= 1;
        $("#mins1").text(curM);
        break;
      case "m_dn_2":
        var curM = Number($("#mins2").text());
        curM - 1 < 0 ? curM = 9 : curM -= 1;
        $("#mins2").text(curM);
        break;
      case "s_dn_1":
        var curS = Number($("#secs1").text());
        curS - 1 < 0 ? curS = 5 : curS -= 1;
        $("#secs1").text(curS);
        break;
      case "s_dn_2":
        var curS = Number($("#secs2").text());
        curS - 1 < 0 ? curS = 9 : curS -= 1;
        $("#secs2").text(curS);
        break;
      default:
        break;
    }
  });
}

function runTimer() {

  function subtractHrs1() {
    $("#hrs2").text("9");
    $("#hrs1").text("0");
  }

  function subtractHrs2() {
    $("#mins1").text("5");
    $("#hrs2").text() - 1 >= 0 ?
      $("#hrs2").text($("#hrs2").text() - 1) :
      subtractHrs1();
  }

  function subtractMins1() {
    $("#mins2").text("9");
    $("#mins1").text() - 1 >= 0 ?
      $("#mins1").text($("#mins1").text() - 1) :
      subtractHrs2();
  }

  function subtractMins2() {
    $("#secs1").text("5");
    $("#mins2").text() - 1 >= 0 ?
      $("#mins2").text($("#mins2").text() - 1) :
      subtractMins1();
  }

  function subtractSecs1() {
    $("#secs2").text("9");
    $("#secs1").text() - 1 >= 0 ?
      $("#secs1").text($("#secs1").text() - 1) :
      subtractMins2();
  }

  function subtractSecs2() {
    $("#secs2").text() - 1 >= 0 ?
      $("#secs2").text($("#secs2").text() - 1) :
      subtractSecs1();
  }

  var duration = (Number(($("#hrs1").text()) * 10 + Number($("#hrs2").text())) * 3600) + (Number(($("#mins1").text()) * 10 + Number($("#mins2").text())) * 60) + (Number($("#secs1").text()) * 10 + Number($("#secs2").text()));
  console.log(duration);

  if(duration == 0) return;
  timer = setInterval(function() {
    subtractSecs2();
    duration--;
    if(duration == 0) {
      clearInterval(timer);
    }
  }, 1000);
}

</script>
