<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>COGS 120</title>
    <meta charset="utf-8">
    <link href="../styles/timer.css" rel="stylesheet" type="text/css">
    <link href='../styles/nav.css' rel='stylesheet' type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="home.html">Team 3STRIPES</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <p class="navbar-text">Welcome, </p>
            <li><a href="profile.html">Charles</a></li>
            <p class="navbar-text">Balance: 9001 pts </p>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Menu <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="timer.html">Timer</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="index.html">Sign Out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="my-page-header">
      <h2 class="big-header">Timer</h2>
      <p class="sub-header">Set how long you want to study!</p>
    </div>
    <div class="timer-section">
      <div class="timer">
        <div class="arrows">
          <div class="h_arrow">
            <span id="h_up">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#667ADF" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="m_arrow">
            <span id="m_up">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-115.000000, -69.000000)" stroke="#667ADF" stroke-width="10">
                          <polyline id="Line-Copy-2" transform="translate(151.580068, 102.000000) scale(-1, -1) translate(-151.580068, -102.000000) " points="122 77 152 127 181.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
        </div>
        <p class="timer-text unselectable"><span id="hrs">00</span>h<span id="mins">00</span>m<span id="secs">00</span>s</p>
        <div class="arrows">
          <div class="h_arrow">
            <span id="h_dn">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#667ADF" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
          <div class="m_arrow">
            <span id="m_dn">
              <svg width="49px" height="32px" viewBox="0 0 73 63" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linejoin="round">
                      <g id="Artboard" transform="translate(-26.000000, -72.000000)" stroke="#667ADF" stroke-width="10">
                          <polyline id="Line-Copy" transform="translate(62.580068, 102.000000) scale(-1, 1) translate(-62.580068, -102.000000) " points="33 77 63 127 92.160136 77"></polyline>
                      </g>
                  </g>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <p id="start"><a href="#" onclick="runTimer()"><span class="button navyblue unselectable">Begin Study Session</span></a></p>
    </div>
  </body>
</html>
<script>

var timer;
var canHUp;
var canMUp;
var canHDn;
var canMdn;

$(document).ready(function() {
  initTimer();
});

function initTimer() {

  canHUp = true;
  canMUp = true;
  canHDn = false;
  $('#h_up g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');
  canMDn = false;
  $('#m_up g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');

  $('svg').mouseover(function() {
    if($(this).parent().attr("id") === "h_up" && !canHUp) return;
    if($(this).parent().attr("id") === "m_up" && !canMUp) return;
    if($(this).parent().attr("id") === "h_dn" && !canHDn) return;
    if($(this).parent().attr("id") === "m_dn" && !canMDn) return;
    $('g', this).attr('stroke', '#FFFFFF').attr('stroke-width', '14');
    $('body').css('cursor', 'pointer');
  });

  $('svg').mouseout(function() {
    if($(this).parent().attr("id") === "h_up" && !canHUp) return;
    if($(this).parent().attr("id") === "m_up" && !canMUp) return;
    if($(this).parent().attr("id") === "h_dn" && !canHDn) return;
    if($(this).parent().attr("id") === "m_dn" && !canMDn) return;
    $('g', this).attr('stroke', '#B6BEF7').attr('stroke-width', '10');
    $('body').css('cursor', 'default');
  });

  $('svg').click(function() {
    switch($(this).closest("span").prop("id")) {
      case "h_up":
        var curH = Number($("#hrs").text());
        if(curH + 1 < 2) curH += 1;
        if(curH > 0) {
          canHDn = true;
          $('#h_dn g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');
        }
        if(curH === 5) {
          canHUp = false;
          $('g', this).attr('stroke', '#667ADF').attr('stroke-width', '10');
          $('body').css('cursor', 'default');
        }
        $("#hrs").text("0" + curH);
        break;
      case "m_up":
        var curM = Number($("#mins").text());
        if(curM + 1 < 60) curM += 1;
        if(curM > 0) {
          canMDn = true;
          $('#m_dn g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');
        }
        if(curM === 59) {
          canMUp = false;
          $('g', this).attr('stroke', '#667ADF').attr('stroke-width', '10');
          $('body').css('cursor', 'default');
        }
        if(curM < 10) curM = "0" + curM;
        $("#mins").text(curM);
        break;
      case "h_dn":
        var curH = Number($("#hrs").text());
        if(curH - 1 > -1) curH -= 1;
        if(curH < 6) {
          canHUp = true;
          $('#h_up g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');
        }
        if(curH === 0) {
          canHDn = false;
          $('g', this).attr('stroke', '#667ADF').attr('stroke-width', '10');
          $('body').css('cursor', 'default');
        }
        $("#hrs").text("0" + curH);
        break;
      case "m_dn":
        var curM = Number($("#mins").text());
        if(curM - 1 > -1) curM -= 1;
        if(curM < 60) {
          canMUp = true;
          $('#m_dn g').attr('stroke', '#B6BEF7').attr('stroke-width', '10');
        }
        if(curM === 0) {
          canMDn = false;
          $('g', this).attr('stroke', '#667ADF').attr('stroke-width', '10');
          $('body').css('cursor', 'default');
        }
        if(curM < 10) curM = "0" + curM;
        $("#mins").text(curM);
        break;
      default:
        break;
    }
  });
}

function runTimer() {

  function subtractHrs() {
    $("#mins").text("59");
    $("#hrs").text($("#hrs").text() - 1);
  }

  function subtractMins() {
    $("#secs").text("59");
    var newMins = $("#mins").text() - 1;
    if(newMins < 0) subtractHrs();
    else if(newMins < 10) $("#mins").text("0" + newMins);
    else $("#mins").text(newMins);
  }

  function subtractSecs() {
    var newSecs = $("#secs").text() - 1;
    if(newSecs < 0) subtractMins();
    else if(newSecs < 10) $("#secs").text("0" + newSecs);
    else $("#secs").text(newSecs);
  }

  var duration = Number($("#hrs").text() * 3600) + Number($("#mins").text() * 60) + Number($("#secs").text());

  if(duration == 0) return;
  $("svg").css("display", "none");
  canHUp = false;
  canHDn = false;
  canMUp = false;
  canMDn = false;
  timer = setInterval(function() {
    subtractSecs();
    duration--;
    if(duration == 0) {
      clearInterval(timer);
    }
  }, 1000);
}

</script>
