body {
	font-family: 'Nunito Sans', sans-serif;
	height: 100vh;
	background-image: url("../media/home_bg.jpg");
	background-size: cover;
	overflow: hidden;
}
.lora {
	font-family: 'Lora', serif;
}

.nunito {
	font-family: 'Nunito Sans', sans-serif;
}

span {
	display: inline-block;
}

.button {
    text-decoration: none;
    color: white;
		border-radius: 12px;
  	border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 10vw;
}

.navyblue {
	background-color: #5A709E;
}

.gray {
	background-color: #ACACAC;
}

p {
	text-align: center;
}

.buttondiv {
	padding-top: 8%;
}
