body {
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  margin-top: 3%;
  margin-bottom: 3%;
  height: 100px;
}

body:before {
  content: "";
	background-image: url("home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: -1;
}

.my-container {
	border-radius: 20px;
  width: 100%;
  text-align: center;
}

.my-container h2 {
  font-family: 'Lora', serif;
  background-color: white;
  margin: 0;
  padding: 6% 0;
  font-size: 3.5em;
  font-weight: 400;
  letter-spacing: -1px;
}

.desc {
  margin-top: 2%;
}

.desc p {
  font-size: 1.2em;
  text-align: center;
}

.buttons {
	display: flex;
	flex-direction: row;
  justify-content: center;
}

.buttons a {
	text-decoration: none;
}

.navyblue {
  background-color: #5A709E;
}

.navyblue:hover {
  background-color: #667DAF;
}

.button {
  text-decoration: none;
  font-size: 1.2em !important;
  font-weight: 400;
  color: white;
	border-radius: 12px;
  box-shadow: 0px 2px 4px black;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
  width: 160px;
  margin-top: 16px;
  margin-left: 12px;
  margin-right: 12px;
}

.button:hover {
  transform: translateY(2px);
  box-shadow: 0px 1px 3px black;
}

.lightblue {
  background-color: #B6BEF7;
  color: black;
}

.lightblue:hover {
  background-color: #C4CBFF;
}
