nav {
  font-family: 'Nunito Sans', sans-serif;
}

.default-bg {
  background-color: #5A709E;
}

.baby-blue-bg {
  background-color: #25ABD1;
}

.guava-pink-bg {
  background-color: #D14F9A;
}

.mango-chile-bg {
  background-color: #E09E23;
}

.forest-glade-bg {
  background-color: #166610;
}

.galactic-void-bg {
  background-color: #0F073F;
}

a.navbar-brand {
  padding: 0;
  height: 24px;
  display: inline-block;
  margin: 12px 0px 0px 16px !important;
}

a.navbar-brand img {
  height: 24px;
}

.navbar {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

/* Title */
.navbar-default .navbar-brand {
    color: #EEE;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #EEE;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: #CCC;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #333;
  background-color: #CCC;
}
.navbar-default .navbar-text {
  color: #EEE;
}
.navbar-default .navbar-nav > .dropdown {
  margin-right: 24px;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #EEE;
    border-bottom-color: #EEE;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
