body {
  font-family: 'Nunito Sans', sans-serif;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#shop > h2 {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 3em;
  /*border: 1px solid black;*/
  padding: 48px 24px;
  margin: 0px 16%;
  font-weight: 500;
  border-bottom: 2px dashed #BBB;
}

.item {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  padding: 12px 20px;
  margin-bottom: 8px;
  box-shadow: 0px 0px 8px gray;
}

.item-pic {
  width: 56px;
  border-radius: 5px;
}

.item-text {
  margin-left: 20px;
  margin-right: 8px;
}

.item-name {
  font-size: 2em;
}

.item-desc {
  color: #555;
}

.item-buy {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #5A709E;
  color: white;
  border-radius: 15px;
  padding: 8px 0;
  width: 85px;
  text-align: center;
  box-shadow: 0 2px 6px black;
}

.item-buy:hover {
  cursor: pointer;
  background-color: #667DAF;
  transform: translateY(2px);
  box-shadow: 0 0 4px black;
}

.disabled-button {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #EAEAEA;
  color: black;
  border-radius: 15px;
  padding: 8px 0;
  width: 75px;
  text-align: center;
  transform: translateY(2px);
}

.disabled-button:hover {
  cursor: disabled;
}

.babybluetheme {
  background-color: #25ABD1 !important;
}

p.babybluetheme:hover {
  background-color: #31BAE0 !important;
}

.guavapinktheme {
  background-color: #D14F9A !important;
}

p.guavapinktheme:hover {
  background-color: #D85DA4 !important;
}

.mangochiletheme {
  background-color: #E09E23 !important;
}

p.mangochiletheme:hover {
  background-color: #E8A730 !important;
}

.forestgladetheme {
  background-color: #166610 !important;
}

p.forestgladetheme:hover {
  background-color: #1E7218 !important;
}

.galacticvoidtheme {
  background-color: #0F073F !important;
}

p.galacticvoidtheme:hover {
  background-color: #1A0E63 !important;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

#shop {
  margin-bottom: 8%;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#items {
  margin-top: 56px;
}

#baby-blue-pic {
  background-color: #25ABD1;
}

#guava-pink-pic {
  background-color: #D14F9A;
}

#mango-chile-pic {
  background-color: #E09E23;
}

#forest-glade-pic {
  background-color: #166610;
}

#galactic-void-pic {
  background-color: #0F073F;
}

#bus-pic {
  background-image: url('bus.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#caterpillar-pic {
  background-image: url('caterpillar.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#fish-pic {
  background-image: url('fish.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 767px) {
  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 8px;
    height: 200px;
    margin-bottom: 8px;
    box-shadow: 0px 0px 8px gray;
  }

  .item-pic {
    height: 10%;
    width: 100%;
    margin-bottom:
  }

  .item-desc {
    color: #555;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
  }

  .item-name {
    font-size: xx-large;
    text-align: center;
  }

  .item-buy {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #5A709E;
    color: white;
    border-radius: 15px;
    padding: 8px 16px;
    text-align: center;
  }

  #shop {
    padding: 0 16px 8px 16px;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
  }
}
